<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="../../styles/accueil.css"/>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
    <img src="../../img/Logo.png"  class="logo" width="15%"> 
    <div class="line1"></div>
    <div class="searchBar">
        <img src="../../img/loupeDark.png" width="8%">
        <input type="text" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
    </div>
    <div class="buttonAddPost">
        <button>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg> Crée un post
            </span>
        </button>
    </div>
    <div class="buttonNotification">
        <button>
            <span> 
                <img src ="../../img/clocheDark.png" width="24" height="24" alt="Notification Icon">
            </span>
        </button>
    </div>
    <div class="buttonPourToi">
        <button style="text-align: center;">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor"></path></svg>
                Pour toi
            </span>
        </button>
    </div>
    <div class ="buttonSuivi">
        <button style="text-align: center;">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor"></path></svg>
                Suivies
            </span>
        </button>
    </div>  
    <div class="buttonAcueil">
        <button>
            <span>
                <img src ="../../img/homeDark.png" width="24" height="24" alt="Notification Icon">
                Accueil
            </span>
        </button>
    </div>
    <div class="photoProfil"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</body>
</html>
