<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenium</title>
    <link rel="stylesheet" type="text/css" href="../../style/prenium.css">
</head>
<body>
        <div class="ButtonLeave">
            <button>
                <span>
                    <img src="../../style/img/leave.png" width="44" height="44">
                </span>
            </button>
        </div>
        <div class="Title">
            <h1>Mettre à niveau vers Premium</h1>
        </div>
        <div class="txt">
            <h3>Profitez d'une expérience améliorée, d'outils réservés aux créateurs, de la certification et d'une sécurité de premier ordre.</h3>
        </div>
        <div class="boite">
            <div class="Prenium">
                <h3>Premium</h3>
            </div>
            <div class="Prix">
                <h3>4,99€</h3>
            </div>
            <div class="Mois">
                <h4>/&nbsp;mois</h4>
            </div>
            <div class ="buttonSouscrire">
                <button>
                    <span>
                        <h5>Souscrire</h5>
                    </span>
                </button>
            </div>
            <ul class="features-list">
                <li>• Publiez des vidéos plus longues ;</li>
                <li>• Publiez des photos et vidéos de plus grosse taille (50Mo max) ;</li>
                <li>• Publiez des plus longs posts ;</li>
                <li>• Photo de profil possible en .GIF ;</li>
                <li>Accès à des messages privés directement avec les professionnels de santé (en respectant leurs disponibilités).</li>
            </ul>
        </div>
        <div class ="Condition">
            <p>En cliquant sur S'abonner, vous acceptez nos <strong><u>Conditions relatives aux achats</u></strong>. Votre abonnement est renouvelé automatiquement jusqu'à ce que vous l'annuliez, comme indiqué dans les Conditions. <strong><u>Annuler à tout moment</u></strong>. Procédez à l'annulation au moins 24 heures avant le renouvellement pour éviter d'avoir à régler des frais supplémentaires. Un numéro de téléphone vérifié est requis pour l'abonnement. Si vous avez pris votre abonnement sur une autre plateforme, gérez‑le via celle‑ci.</p>
        </div>
</body>
</html>
