<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <title>Modifictation réussis.</title>
    <link rel="icon" href="../style/img/newlogo.png">
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <div class="logo">
        <a href="/accueil"><img src="../style/media/logo.png" width="15%"></a>
    </div>  
    <br><br>
    <div class="container">
        <form class="form" method = "get" action="/connexion">
                <div class="flex-column">
                <label>Votre mot de passe à été changé avec succès. </label></div>
                <button type="submit" class="button-submit">Se connecter</button>        
        </form>
    </div>

</body>
</html>
