body {
  background-color: #FFF;
}

button {
  border: 0px solid;
  background-color: #FFF;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  cursor: pointer;
}

button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 600;
}

button:hover {
  background-color: rgba(40, 151, 75, 0.21);
}

.bodycode {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
  top: 25vh;
  left: 10vw;
  margin-top: 2vh;
}

.backFond {
  width: 74.5vw;
  height: 33vh;
  flex-shrink: 0;
  background: #28974B;
  margin-right: 5vw;
  margin-top: -50vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.editProfil {
  top: 19vh;
  right: 1vw;
  position: absolute;
  width: 9vw;
  height: 6vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.editProfil button {
  background-color: rgba(40, 151, 75, 0.21);
  height: 6vh;
  width: 9vw;
}

.Profil {
  width: 144px;
  height: 139px;
  flex-shrink: 0;
  border-radius: 144px;
  border: 1px solid #000;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  top: 20vh;
  left: 1vw;
  position: relative;
  box-shadow: #000 0px 0px 10px 0px;
}

.Pseudo {
  top: 21vh;
  left: 3vw;
  position: relative;
  box-shadow: #000 0px 0px 10px 0px;
  width: 10vw;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-top: 1vh;
  font-family: 'Inter', sans-serif;
}

.Biographie {
  top: 15vh;
  left: 0vw;
  position: relative;
  box-shadow: #000 0px 0px 10px 0px;
  width: 73vw;
  height: 25vh;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  font-family: 'Inter', sans-serif;
}

.line6 {
  width: 1161.5px;
  height: 2px;
  background: #28974B;
  position: absolute;
  top: 65vh; /* Ajustez cette valeur selon vos besoins */
  left: -0.5vw;
  box-shadow: #000 0px 0px 10px 0px;
}

.Posts {
  top: 70vh;
  left: 10vw;
  position: absolute;
  width: 9vw;
  height: 6vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.Posts button {
  background-color: rgba(40, 151, 75, 0.21);
  height: 6vh;
  width: 9vw;
}

.Commentaires {
  top: 70vh;
  left: 25vw;
  position: absolute;
  width: 9vw;
  height: 6vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.Commentaires button {
  background-color: rgba(40, 151, 75, 0.21);
  height: 6vh;
  width: 9vw;
}

.Aimer {
  top: 70vh;
  left: 40vw;
  position: absolute;
  width: 9vw;
  height: 6vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.Aimer button {
  background-color: rgba(40, 151, 75, 0.21);
  height: 6vh;
  width: 9vw;
}

.Republier {
  top: 70vh;
  left: 55vw;
  position: absolute;
  width: 9vw;
  height: 6vh;
  box-shadow: #000 0px 0px 10px 0px;
}

.Republier button {
  background-color: rgba(40, 151, 75, 0.21);
  height: 6vh;
  width: 9vw;
}
