<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../style/media/icon.png">
        <title>Page Introuvable</title>
        <link rel="stylesheet" href="../../style/error.css">
        <link rel="stylesheet" href="../styles/error.css"> 
    </head>

    <body> 
        <div class="logo">
            <a href="/accueil"><img src="../style/media/logo.png" width="15%"></a>
        </div>     
        <div class="container">
            <h1>404</h1>
            <p> Oops !? Page Inexistante</p>
            <a href="/accueil">Retour à l'accueil.</a>
        </div>
    </body>
</html>