<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="icon" href="../style/img/newlogo.png"> -->
        <title>Page Introuvable</title>
        <link rel="stylesheet" href="../../style/error.css">
    </head>

    <body>       
        <div class="container">
            <!-- <img src="../style/img/newlogo.png" width="30%"><br><br>
            <img src="../style/img/newlogotext.png" width="50%"><br><br>          -->
            <h1>404</h1>
            <p> Oops !? Page Inexistante</p>
            <a href="/accueil">Retour à l'accueil.</a>
        </div>
    </body>
</html>