.bodycode {
    position: relative;
    display: flex;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    top: 25vh;
    left: 10vw;
    margin-top: 2vh;
  }

  .golangPost{
    min-height: 30vh;
    max-height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
    margin-bottom: 50vh;
    z-index: 0;
  }

  .gotoPost{
    position: absolute;
    min-height: 31vh;
    max-height: 50vh;
    width: 55vw;
    right: 10vw;
    box-shadow: #28974b4b 0px 0px 5px;
    border-radius: 10px;
  }

  .upperPost {
    display: flex;
    justify-content: start;
    width: 50vw;
  }

  .user {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30vw;
   }

   .user a:link,
   .user a:visited  {
    text-decoration: none;
    color: inherit;
   }

   .user h5 {
    margin-left: 1vw;
   }

    .user h6 {
    margin-left: 1vw;
    }

   .user img {
    border-radius: 40px;
   }

   .user a {
    z-index: 2;
   }

   h5 {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    font-family: Inter, sans-serif;
}

h6 {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: Inter, sans-serif;
}

.buttonOnglet {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0vw;
  height: 0vh;
  margin-top: 4vh;
  left: 20vw;
}

.buttonOnglet button {
  background-color: rgba(40, 151, 75, 0.21);
  color: white;
  padding: 0.5em 1em;
}



.bodyPost {
  min-height: 15vh;
  max-height: 30vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3vh;
}

.title {
  display: flex;
  justify-content: start;
  width: 50vw;
  height: 8vh;
  font-size: 20px;
  margin-top: 1vh;
}

.content {
  display: flex;
  justify-content: start;
  width: 30vw;
  max-height: 20vh;
  min-height: 9vh;
  font-size: medium;
  overflow: hidden;
  position: relative;
  right: 10vw;
}

.content p {

  text-overflow: ellipsis;
  overflow: hidden;
}

.image {
  display: flex;
  justify-content: end;
  max-width: 20vw;
  max-height: 20vh;
  position: relative;
  bottom: 17vh;
  left: 14vw;
}

.image img {
  border-radius: 5px;
}




.lowerPost {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 50vw;
  margin-top: 3vh;
}

.lowerPost .buttonDislike {
  margin-top: 0.4vh;
}


.lowerPost .container3 {
  margin-bottom: 0.8vh;
}


    .buttonLike {
      display: flex;
      flex-direction: row;
    }

    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        
      }
      
      .container1 {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
        transition: 100ms;
        width: 35px;
        height: 35px;
      }
      
      .checkmark {
        left: 0;
        height: 0em;
        width: 0em;
        transition: 100ms;
        animation: dislike_effect 400ms ease;
        
      }

      .checkmark path {
        fill: none; /* Aucun remplissage */
        stroke: #000; /* Couleur du contour en noir */
        stroke-width: 15px; /* Largeur du contour */
    }
    
    
      
      .container1 input:checked ~ .checkmark path {
        fill: #28974B;
        stroke-width: 0;
        
      }
      
      .container1 input:checked ~ .checkmark {
        animation: like_effect 400ms ease;

        
      }
      
      .container1:hover {
        transform: scale(1.1);
      }
      
      @keyframes like_effect {
        0% {
          transform: scale(0);
        }
      
        50% {
          transform: scale(1.2);
        }
      
        100% {
          transform: scale(1);
        }
      }
      
      @keyframes dislike_effect {
        0% {
          transform: scale(0);
        }
      
        50% {
          transform: scale(1.2);
        }
      
        100% {
          transform: scale(1);
          
        }
      }

    .buttonDislike {
        margin-left: 1.5vw;
        position: relative;
    }

    .container2 input {
        position: relative;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      .container2 {
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
      }

      .container2 svg {
        position: relative;
        top: 0;
        left: 0;
        height: 30px; /* Nouvelle hauteur */
        width: 30px; /* Nouvelle largeur */
        transition: all 0.3s;
        fill: #666;
    }
    
      
      svg {
        position: relative;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        transition: all 0.3s;
        fill: #666;
      }
      
      svg:hover {
        transform: scale(1.1) rotate(-10deg);
      }
      
      .container2 input:checked ~ svg {
        fill: rgb(185, 51, 51);
      }

 .container3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    margin-left: 1.5vw;
}

  
  .repost-checkbox {
      display: none;
  }
  
  .repost-button {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border: none;
      background-color: transparent;
      color: #000000;
      font-size: 14px;
      cursor: pointer;
      transition: color 0.3s;
  }
  
  .repost-button:hover {
      color: #28974B;
  }
  
  .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 24px;
      height: 16px;
      margin-right: 5px;
      transition: transform 0.3s;
  }
  
  .arrow {
      position: absolute;
      width: 0; 
      height: 0; 
      border-style: solid;
  }
  
  .up {
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent currentColor transparent;
      top: 0;
      left: 0;
      transform: rotate(-90deg);
  }
  
  .down {
      border-width: 6px 6px 0 6px;
      border-color: currentColor transparent transparent transparent;
      bottom: 0;
      right: 0;
      transform: rotate(-90deg);
  }
  
  .line {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .repost-checkbox:checked + .repost-button .icon {
      color: #1da1f2;;
      transform: rotate(360deg);
  }
  
  .repost-checkbox:checked + .repost-button {
      color: #1da1f2;;
  }
  


.line6 {
    width: 60%;
    min-height: 1px;
    background: #28974B;
    position: relative;
    transform: translateY(-50%);
    margin-top: 3vh;
    margin-bottom: 8vh;
  }

  .lowerPost p {
    position: relative;
    bottom: 1vh;
  }

  .nbLikes {
    margin-left: 0.8vw;
  }

  .nbDislike {
    margin-left: 0.8vw;
  }

  .nbRepu {
    margin-left: 0.5vw;
  }

.reportToggle {
  opacity: 0;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  width: 7vw;
  height: 8vh;
  z-index: -10;
  left: 14.5vw;
  top: 8vh;
  background-color: rgba(40, 151, 75, 0.21);
  border-radius: 10px;
}

.reportToggle button {
  background-color: rgba(40, 151, 75, 0.21);
}

.flechedroite {
  position: relative;
  left: 3vw;
  bottom: 4.5vh;
  width : 0;
  height : 0;
  border-bottom : 10px solid transparent;
  border-top : 10px solid transparent;
  border-left : 10px solid rgba(40, 151, 75, 0.21);
  font-size: 0;
  line-height: 0;
  transform : rotate(-90deg);

}


.overlay{
  background-color: #000000c6;
  z-index: 10000;
  align-items: center;
  justify-content: center;
}