.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    background-color: #FFF;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: #28974B 0px 0px 7px;
    overflow: hidden;
    z-index: 1000;
}


.logo {
    position: relative;
    left: 1vw;
}

.line1 {
    width: 100%;
    height: 1.5px;
    background: #28974B;
    position: fixed;
    margin-top: 15vh;
    transform: translateY(-50%);
}

.searchBar {
    position: relative;
    right: 35vw;
    display: flex;  
    align-items: center;
    width: 40vw;
    height: 8vh;
    border-radius: 78px;
    background: rgba(40, 151, 75, 0.21);
    padding: 0 20px; 
}

.searchBar input[type="text"] {
    flex: 1; 
    border: none;
    background: transparent; 
    margin-right: 10px; 
    outline: none; 
    font-size: 18px;
}

.searchBar button {
    background-color: #28974B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.buttonAddPost{
    right: 20vw;
    position: fixed;
}


.buttonNotification{
right: 14.5vw;
position: fixed;
}

.buttonConnecter {
right: 4vw;
position: fixed;
}

.overreport{
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reportOverlay {
    position: absolute;
    width: 25vw;
    height: 25vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: rgba(40, 151, 75, 0.21) 0px 0px 15px;
}

.txtReport p {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}