.barre  {
    width: 2px;
    height: 85vh; 
    background: rgba(6, 153, 191, 0.31);
    position: fixed;
    top: 15vh; 
    right: 75vw; 
}

body {
    background-color:#1D1D1D;
} 

button {
    border: 0px solid ;
    background-color: #1D1D1D;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    cursor: pointer;
}
   
button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(196, 194, 194);
  font-weight: 600;
}
   
button:hover {
  background-color:rgba(6, 153, 191, 0.31);
}

.barre  {
    width: 2px;
    height: 85vh; 
    background: rgba(6, 153, 191, 0.31);
    position: fixed;
    top: 15vh; 
    right: 75vw; 
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(196, 194, 194);
    margin-left: 1vw;
    margin-top: 1vh;

}

.reglageTxt {
    width: 20vw;
    height: 56vh;
    top : 17vh;
    right: -14vw;
    position: relative;  
}

.buttonVotreProfile {
    position: relative;
    left: 12vw;
    bottom: 33vh; 
    width: 15vw;
    height: 6vh;
    
}

.buttonVotreProfile button {
    padding: 0.8em 3em; 
}

.buttonPrenium {
    position: relative;
    bottom: 30vh;
    left: 12.5vw;
    width: 15vw;
    height: 6vh;
    
}

.buttonPrenium button {
    padding: 0.8em 3em; 
}

.buttonCentreAssistance {
    position: relative;
    bottom: 27vh;
    left: 12vw;
    width: 15vw;
    height: 6vh;
}

.buttonCentreAssistance button {
    padding: 0.8em 1em; 
    white-space: nowrap;
}

.buttonInfoCompte {
    position: relative;
    bottom: 54vh;
    left: 30vw;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonInfoCompte button {
    margin-top:1.5vh ;
    padding: 0.8em 3em; 
}

.buttonChangerDeMotDePasse {
    position: relative;
    bottom: 44vh;
    left: 30.5vw;
    width: 25vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonChangerDeMotDePasse button {
    margin-top:0.5vh ;
    padding: 0.8em 3em; 
}

.buttonChangerDeMotDePasse img {
    margin-left: 0.6vh;
}

