<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../style/media/icon.png">
        <title>Page Introuvable</title>
        <link rel="stylesheet" href="../../style/errorDark.css">
    </head>

    <body> 
        <div class="logo">
            <a href="/accueil"><img src="../style/media/logo.png" width="15%"></a>
        </div>     
        <div class="container">
            <h1>301</h1>
            <h2 style="color: #8a8787;">Aucun compte trouvé avec ce mail</h2>
            <p>Oops !? No Mail Found</p>
            <a href="/accueil">Retour à l'accueil.</a>
        </div>
    </body>
</html>