<html lang="fr">
    <head>
        <title>Changez votre mot de passe</title>
        <link rel="icon" href="../style/img/newlogo.png">
        <link rel="stylesheet" href="../style/loginDark.css">        
    </head>
    <body>
        <div class="logo">
            <a href="/accueil"><img src="../style/media/logo.png" width="15%"></a>
        </div>     
        <br><br>
        <div class="container">
            <form class="form resetpass" method = "get" action="/accueil">
                    <div class="flex-column">
                    <label>Un email vous à été envoyé, consultez le afin de changer votre mot de passe. </label></div>
                    <button type="submit" class="button-submit">Retour à l'accueil</button>        
            </form>
        </div>
    </body>
</html>
